.tours {
  padding-top: 70px;
  padding-bottom: 35px;
  background-color: #edeff6;
  color: #444444;
  font-weight: 300;
  position: relative;
  top: -20px;
  z-index: 5;
  border-radius: 0 0 20px 20px;
}

.tours__title {
  margin-bottom: 20px;
}

.tours__desc {
  margin-bottom: 60px;
}

.tours__cards {
  margin-bottom: 30px;
}

.tours__card {
  width: 100%;
  margin-bottom: 10px;
}

.tours__card-body {
  padding: 0 24px;
  display: grid;
  align-content: center;
  justify-content: space-between;
  min-height: 90px;
  background-color: #fff;
  border-radius: 15px;
  transform: translateY(-15px);
  position: relative;
}

.tours__card-img-container {
  position: relative;
}
.tours__card-img-container img {
  width: 100%;
}

.tours__card-desc {
  grid-column: 1 / 1;
}

.tours__card-title {
  font-weight: 700;
  color: #000;
  font-size: 21px;
}

.tours__card-subtitle {
  opacity: 0.3;
}

.tours__card-subtitle,
.tours__card-people {
  color: #444444;
  font-weight: 500;
}

.tours__card-people {
  display: flex;
  align-items: center;
  grid-column: 2 / 2;
  line-height: 30px;
}

.tours__card-people-count {
  opacity: 0.3;
  padding-left: 5px;
}
.tours__card-people-icon {
  opacity: 0.1;
  width: 15px;
  height: 15px;
  fill: #444444;
}

.tours__card-flag {
  position: absolute;
  top: -16px;
  left: 24px;
  z-index: 1;
}

.tours__bg {
  display: none;
}

.tours__body-container {
  padding: 0;
}

@media (min-width: 600px) {
  .tours__card {
    display: flex;
    width: 100%;
  }

  .tours__card-body {
    order: -1;
    flex: 1 1 auto;
    transform: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 20px 0 0 20px;
  }

  .tours__card-title {
    font-size: 24px;
  }

  .tours__card-subtitle {
    margin-bottom: 20px;
    font-weight: 400;
  }

  .tours__card-subtitle,
  .tours__card-people {
    font-size: 20px;
  }

  .tours__card-img-container picture {
    display: flex;
  }

  .tours__card-flag {
    right: -35px;
    top: 16px;
    left: auto;
  }

  .tours__desc {
    max-width: 380px;
  }

  .tours__bg {
    display: block;
    position: absolute;
    top: 0;
    right: 40px;
    z-index: -1;
  }

  .tours__container {
    position: relative;
  }

  .tours__body-container {
    padding: 0 35px;
  }

  .tours__card-people-icon {
    opacity: 0.1;
    width: 20px;
    height: 20px;
    fill: #444444;
  }
}
