.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transform: translateY(-200%);
  transition: .4s;
}



.header.show-header{
  transform: translateY(0);
}

.header__container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161c35;
  position: relative;
}

.header__auth-btn{
  display: none;
}

@media (min-width: 768px) {
  .header__container{
    background-color: #182044;
  }

  .header__auth-btn{
    display: inline-block;
  }
}

.header__logo {
  max-width: 196px;
  width: 100%;
  fill: #fff;
  z-index: 1000;
  transition: .4s ease-in-out;
}

.header.show-menu .header__logo{
  fill: #192144;
}

.header__logo-mobile {
  width: 96px;
}

.header__logo-desktop {
  display: none;
  width: 100%;
}

@media (min-width: 768px) {
  .header__logo-mobile {
    display: none;
  }
  .header__logo-desktop {
    display: inline-block;
  }
}

.header__logo picture {
  position: relative;
  z-index: 1000;
}
