.header__container{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161C35;
    position: relative;
}

.header__logo picture{
    position: relative;
    z-index: 1000;
}