.travel {
  padding-top: 90px;
  padding-bottom: 20px;
  background-color: #161c35;
}

.travel__title {
  text-align: center;
  font-size: 36px;
}
.travel-top {
  position: relative;
}

.travel-bottom {
  padding-top: 48px;
}

.travel__report {
  margin-bottom: 30px;
}

.travel__report-text {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 18px;
}

.travel__report-author {
  font-weight: 700;
  font-size: 16px;
}

.travel__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
}
.travel__list-item {
  padding: 24px 24px;
  display: flex;
  justify-content: space-between;
  background-color: orange;
  color: #161c35;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 15px 15px 0 0;
}

.travel__list-item:nth-child(1) {
  background: #ff8d30;
}
.travel__list-item:nth-child(2) {
  background-color: #ffa530;
  transform: translateY(-12px);
}
.travel__list-item:nth-child(3) {
  background-color: #ffbd30;
  transform: translateY(-24px);
}
.travel__list-item:nth-child(4) {
  background-color: #ffd74b;
  transform: translateY(-36px);
}

.travel__list-item span {
  color: #fff;
}

.travel-top__content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.travel-top__content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.travel-top__img-container {
  position: relative;
}
.travel-top__img-container::before {
  content: url("/assets/images/traveller-illustration-mobile.png");
  position: absolute;
  bottom: 0;
  right: 48px;
}
.travel-top__img-container img {
  width: 100%;
}

@media (min-width: 600px) {
  .travel {
    background-color: #182044;
    padding-top: 180px;
  }

  .travel__title {
    font-size: 60px;
  }

  .travel__report-author {
    font-size: 21px;
    line-height: 25px;
  }

  .travel__report-text {
    font-size: 28px;
    line-height: 33px;
  }

  .travel__buttons {
    display: none;
  }

  .travel-top {
    padding-top: 400px;
  }

  .travel-bottom {
    position: relative;
    top: -600px;
    left: 0;
    max-width: 1400px;
    width: 100%;
    padding: 0 25px;
    margin: 0 auto;
    z-index: 10;
  }

  .travel__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    transform: translateX(6px);
    position: absolute;
    top: 450px;
    left: 0;
    width: 100%;
  }

  .travel__list-item {
    display: flex;
    flex-direction: column;
    transform: translateY(0) !important;
  }
  .travel__list-item p {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .travel__list-item span {
    font-size: 30px;
  }

  .travel__list-item:nth-child(1) {
    border-radius: 15px 0 0 0;
  }
  .travel__list-item:nth-child(2) {
    border-radius: 15px 15px 0 0;
    transform: translateX(-12px) !important;
  }

  .travel__list-item:nth-child(3) {
    border-radius: 0 0 0 15px;
  }
  .travel__list-item:nth-child(4) {
    border-radius: 0 0 15px 15px;
    transform: translateX(-12px) !important;
  }
}
