.companions {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #161c35;
  position: relative;
  top: -40px;
  z-index: 4;
  border-radius: 0 0 20px 20px;
}

.companions__container {
  padding-top: 35px;
  background-image: url("../../assets/images/companions/bg-mobile.png");
  background-size: calc(100% - 25px);
  background-position: right 25px top;
  background-repeat: no-repeat;
}

.companions__cards {
  margin-bottom: 20px;
}

.companions__cards .content-container {
  padding: 0;
}

.companions__show-all-btn-container {
  padding: 0;
}

.companions__card {
  overflow: hidden;
  border-radius: 15px;
}

.companions__card:hover .companions__card-img-container img {
  transform: scale(1.1);
}
.companions__card:not(:last-child) {
  margin-bottom: 10px;
}
.companions__card-tags {
  max-width: 190px;
  text-align: center;
  margin: 20px 0;
}
.companions__card-tag {
  color: #444444;
}

.companions__card-name {
  padding-left: 10px;
  color: #1d2e5b;
  font-size: 21px;
  font-weight: 700;
  position: relative;
}

.companions__card-name::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.companions__card-name[data-clr="coral"]::before {
  background-color: #f97676;
}
.companions__card-name[data-clr="green"]::before {
  background-color: #81e31e;
}

.companions__title {
  margin-bottom: 20px;
}

.companions__desc {
  margin-bottom: 25px;
  font-weight: 300;
  max-width: 280px;
  line-height: 22px;
}

.companions__subtitle {
  font-weight: 700;
  max-width: 300px;
  line-height: 22px;
}
.companions__card-icons {
  display: flex;
  align-items: center;
}
.companions__card-icons svg {
  min-width: 25px;
  fill: #1d2e5b;
  opacity: 0.15;
}
.companions__card-icons svg.active {
  fill: #101d41;
  opacity: 1;
}
.companions__card-icons svg:not(:last-child) {
  margin-right: 10px;
}

.companions__card-body {
  padding: 20px 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.companions-top {
  margin-bottom: 60px;
}

.companions__card-img-container {
  display: flex;
  position: relative;
}

.companions__card-img-container svg {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 17px;
  left: 17px;
  opacity: 0.7;
}

.companions__card-img-container img {
  flex: 1 1 auto;
  width: 100%;
  transition: 0.6s ease-in-out;
}

.companions__card-flags {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}
.companions__card-flags img {
  max-width: 35px;
  width: 100%;
}

.companions__card-flags img:not(:last-child) {
  margin-right: 20px;
}

.companions-bottom__container {
  padding: 0;
}

.companions__cards .content-container {
  width: 100%;
}

@media (min-width: 600px) {
  .companions__cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .companions__card:not(:last-child) {
    margin: 0;
    margin-right: 50px;
  }

  .companions {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .companions__title {
    margin-bottom: 55px;
  }

  .companions__desc {
    max-width: 440px;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 40px;
  }

  .companions__subtitle {
    max-width: 300px;
    font-size: 21px;
    line-height: 24px;
  }

  .companions__card {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  .companions__card-body {
    height: 100%;
  }

  .companions__card-tags {
    flex: 1 1 auto;
  }

  .companions__card-name {
    font-size: 24px;
  }

  .companions__card-tag {
    font-size: 20px;
  }

  .companions__cards .content-container {
    display: flex;
  }

  .companions__container {
    padding-top: 60px;
    background-image: url("../../assets/images/companions/bg-tablet.png");
    background-size: calc(100% - 100px);
    background-position: 35% top;
  }
}

@media (min-width: 1024px) {
  .companions__container {
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url("../../assets/images/companions/bg-desktop.png");
    background-position: 60px top;
    background-size: 660px;
  }

  .companions-top .content-container {
    padding: 0;
  }

  .companions__title {
    margin-bottom: 55px;
  }

  .companions-top {
    margin: 0;
  }

  .companions__desc {
    margin-bottom: 45px;
  }

  .companions__cards {
    margin: 0;
  }

  .companions__cards .content-container {
    display: flex;
    width: 100%;
    padding: 0 !important;
    justify-content: flex-end;
  }

  .companions__show-all {
    max-width: 280px;
  }

  .companions__card {
    max-width: 285px;
    width: 100%;
  }
}
