.footer {
  padding-top: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-radius: 50px 50px 0 0;
  background-color: #fff;
  overflow: hidden;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__copyright::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #f2f2f2;
}

.footer__logo-desktop {
  display: none;
}
.footer__logo-mobile {
  fill: #192144;
}

.footer__logo {
  width: 96px;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444444;
  position: relative;
  padding: 18px 0;
  width: 100%;
}

.footer__copyright-text {
  color: #444444;
}

.footer__copyright-text:hover {
  opacity: 0.6;
}

.footer__social-links {
  margin: 40px 0;
}

.footer__copyright-icon:hover {
  opacity: 0.6;
}

.footer__social-links .social-links__link {
  background-color: #ffd74b;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.footer__social-links .social-links__link:hover {
  background-color: #ff8d30;
  opacity: 1;
}

@media (min-width: 600px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer__logo-mobile {
    display: none;
  }
  .footer__logo-desktop {
    display: inline-block;
  }
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__copyright {
    width: auto;
  }

  .footer__copyright:hover {
    opacity: 0.6;
  }

  .footer__copyright::before {
    display: none;
  }

  .footer__copyright-text {
    font-size: 20px;
    margin-right: 23px;
  }

  .footer__social-links {
    margin: 0;
  }

  .footer__social-links .social-links__link {
    margin: 0;
    width: 62px;
    height: 62px;
  }
  .footer__logo {
    width: 166px;
  }

  .footer__copyright-text:hover {
    opacity: 1;
  }

  .footer__copyright-icon:hover {
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .footer__logo {
    width: 200px;
  }
}
