.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-group .btn--circle:first-child {
  background-color: #ff8d30;
}
.btn-group .btn--circle:first-child:hover {
  background-color: #f26926;
}
.btn-group .btn--circle:nth-child(2) {
  background-color: #ffbd30;
}
.btn-group .btn--circle:nth-child(2):hover {
  background-color: #ff8d30;
}

@media (min-width: 1024px) {
  .btn--circle {
    min-width: 50px;
    min-height: 50px;
  }
}
